MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/your_db?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key
PORT=3000
CLIENT_URL=https://wedlink-frontend-production-url.com

# OAuth
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
