 @import "tailwindcss";

  @theme: {
  --breakpoint-: initial;
  --breakpoint-xs: 375px; / 375px /
  --breakpoint-sm: 425px; / 425px /
  --breakpoint-md: 768px; / 768px /
  --breakpoint-lg: 1024px; / 1024px /
  --breakpoint-xl: 1440px; / 1440px /
  --breakpoint-2xl: 1920px; / 1920px /
  --breakpoint-3xl: 2560px; / 2560px */

  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --font-family-k2d: 'K2D', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;

  --color-surface-dim: #dbd9da;
  --color-secondary-container: #dadff2;
  --color-surface-container-highest: #e4e2e3;
  --color-primary-fixed: #ffd9dd;
  --color-on-error-container: #93000a;
  --color-on-secondary-fixed: #151b29;
  --color-on-secondary: #ffffff;
  --color-background: #fbf9fa;
  --color-surface: #fbf9fa;
  --color-inverse-primary: #ffb2bc;
  --color-surface-container: #efedee;
  --color-secondary-fixed-dim: #c0c6d9;
  --color-surface-variant: #e4e2e3;
  --color-on-background: #1b1c1d;
  --color-on-surface-variant: #544244;
  --color-on-secondary-container: #5c6272;
  --color-surface-container-low: #f5f3f4;
  --color-surface-container-lowest: #ffffff;
  --color-inverse-surface: #303031;
  --color-error: #ba1a1a;
  --color-tertiary: #583814;
  --color-surface-container-high: #e9e8e9;
  --color-tertiary-fixed: #ffdcbd;
  --color-tertiary-container: #734f29;
  --color-secondary-fixed: #dde2f5;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-primary-fixed: #400012;
  --color-primary: #6f2434;
  --color-primary-container: #8d3b4a;
  --color-on-tertiary-fixed: #2c1600;
  --color-secondary: #585e6e;
  --color-on-tertiary: #ffffff;
  --color-on-surface: #1b1c1d;
  --color-on-tertiary-fixed-variant: #61401b;
  --color-on-secondary-fixed-variant: #414756;
  --color-on-primary: #ffffff;
  --color-outline: #877274;
  --color-primary-fixed-dim: #ffb2bc;
  --color-on-tertiary-container: #f4c393;
  --color-on-primary-fixed-variant: #7a2c3b;
  --color-on-primary-container: #ffb9c2;
  --color-surface-tint: #974352;
  --color-tertiary-fixed-dim: #eebd8e;
  --color-surface-bright: #fbf9fa;
  --color-outline-variant: #d9c1c2;
  --color-inverse-on-surface: #f2f0f1;
}
@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

.animate-bounce-slow {
  animation: bounce 3s infinite;
}
